{% extends "base.html" %}

{% load static %}

{% block title %}

Careers | Best career company in Kenya | CraftTechSolution

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}

{% include "slideshow.html" %}

<h2 align = "center">
  Explore amazing career at CraftTechSolution
</h2>

<div class="w3-row-padding">
  <div class="w3-third">
<h4>Learn</h4>

<p>

Our aim is to enhance the lives of young people through experiences that motivate.
 We look inside and outside for training and inspiration.
 </p>
</div>

<div class="w3-third">
 <h4>Create</h4>

 <p>

   Life is about creating yourself. At CraftTechSolution, we don't just accept the difference,
    we appreciate it, we support it and we prosper on it for the benefit of our clients.

 </p>
</div>

<div class="w3-third">
 <h4>Team</h4>

 <p>

Many firms, need employees who are able to work successfully as part of a team. We create the best experience
 for our clients - as a team.

 </p>

</div>
</div>

<h2 align = "center">
  Internship Offer
</h2>

<h4 align = "center">
  Step 1
</h4>

<h5 align = "center">
  Like us on facebook or follow us on twitter
</h5>

<h4 align = "center">
  Step 2
</h4>

<h5 align = "center">
  Send your curriculum Vitae to crafttechsolution@gmail.com
</h5>

{% endblock %}

{% block footer %}

  {% include "contactus.html" %}

{% endblock %}
