{% extends "base.html" %}

{% load static %}

{% block title %}

CraftTechSolution - Website Optimazation

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}

{% include "slideshow.html" %}

<h2 align = "center">IT Consultancy and Training</h2>

<div class="w3-row-padding">
  <div class="w3-third">
<h4>ICT Consultancy</h4>

<p>

Our IT consultancy will give you guidance on the right innovation for your business, and help you achieve the best choices
 while keeping you educated about the potential dangers. Our consultants are exceptionally experienced and will guarantee
  that you truly comprehend the distinctive alternatives and their relative benefits, so you can coordinate the potential
   outcomes of up and coming innovation with the objectives of the business
 </p>
</div>

<div class="w3-third">
 <h4>ICT Training</h4>

 <p>

We understand the role played by training especially in technology adoption in any sector. We provide trainings as
 a complementary service to most of our consultancies to ensure high delivery and adoption. We also provide a range
  of customised training services through partnerships with corporates, education bodies or companies. Our trainings
   tackle recent and emerging technologies and threats.
 </p>
</div>
</div>
{% endblock %}

{% block footer %}

  {% include "contactus.html" %}

{% endblock %}
