{% extends "base.html" %}

{% block content %}

<div class="w3-container w3-green">
  <h1 align = "center">Get In Touch</h1>
</div>

<div class="w3-row-padding">
  <div class="w3-third">

    <h2>Call Now</h2>
<p>
  +254702290881/+254708885596
</p>

<h3>Contact Us Via Skype</h3>
<h4>crafttechsolution</h4>
  </div>

  <div class="w3-third">
    <h2>Email Us</h2>
    <h4>General Enquiries</h4>
    <p>crafttechsolution@gmail.com</p>
  </div>

  <div class="w3-third">
    <h2>Physical Address</h2>
    <h3>Kenyatta Rd, Opp. Juja Mall</h3>
    <p> World Plaza, Nairobi</p>
    <p>Kenya</p>
  </div>
</div>
<br>
<br>
{% endblock %}
