{% extends "base.html" %}

{% load static %}

{% block title %}

Domains | Best Domains in Kenya | CraftTechSolution

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}

{% include "slideshow.html" %}

<h1 style="color:red" align = "center">Domain </h1>

<p>
  Every website starts with a great domain name.
  CraftTechSolution, as a leading domain registrar, offers you a wide variety of domains.We provide our clients with desired domain name for free
</p>

<p>
  Fill in the <font style="color:blue"><a href="/contact/">Form</a></font> and one of our representetives will get back to you in a short while
</p>

{% endblock %}

{% block footer %}

  {% include "contactus.html" %}

{% endblock %}
