{% block header %}

<ul class="topnav">
  <h3 align = "center"><font style="color:yellow">Craft</font><font style="color:white">TechSolution</font></h3>
  <p align = "center" style="color:white">We create, You use<p>
  <li><a  href="/home/"><font style="color:white"><b>Home</font></b></a></li>

  <li class="dropdown">
  <a href="javascript:void(0)" class="dropbtn"><font style="color:white"><b>Services</font></b></a>
  <div class="dropdown-content">
    <a href="/webdesign/"><font style="color:white"><b>Website Design and Development</font></b></a>
    <a href="/seo/"><font style="color:white"><b>Search Engine Optimazation(SEO)</font></b></a>
    <a href="/smo/"><font style="color:white"><b>Social Media Optimazation(SMO)</font></b></a>
    <a href="/webhost/"><font style="color:white"><b>Web Host Services</font></b></a>
    <a href="/domain/"><font style="color:white"><b>Domains</font></b></a>
  </div>
</li>

  <li><a href="/contact/"><font style="color:white"><b>Contact Us</font></b></a></li>
  <li><a href="/consultancy/"><font style="color:white"><b>IT Consultancy</font></b></a></li>
  <li><a href="/careers/"><font style="color:white"><b>Careers</font></b></a></li>
  <li class="right"><a href="/about/"><font style="color:white"><b>About Us</font></b></a></li>
</ul>

{% endblock %}
