{% block header %}

<ul class="topnav">
  <h3 align = "center">Craft<font style="color:blue">TechSolution</font></h3>
  <p align = "center">We create, You use<p>
  <li><a  href="/home/">Home</a></li>

  <li class="dropdown">
  <a href="javascript:void(0)" class="dropbtn">Services</a>
  <div class="dropdown-content">
    <a href="/webdesign/">Website Design and Development</a>
    <a href="/seo/">Search Engine Optimazation(SEO)</a>
    <a href="/smo/">Social Media Optimazation(SMO)</a>
    <a href="/webhost/">Web Host Services</a>
    <a href="/domain/">Domains</a>
  </div>
</li>

  <li><a href="/contact/">Contact Us</a></li>
  <li><a href="/consultancy/">IT Consultancy</a></li>
  <li class="right"><a href="/about/">About Us</a></li>
</ul>

{% endblock %}
