{% extends "base.html" %}

{% load static %}

{% block title %}

kedcraft - We design you use

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}


<img src="{% static "images/web-design-banner.png"  %}" alt="My image"  />

<h2 align = "center" style="color:blue">
  Website Design & Digital Marketing In Nairobi, Kenya
</h2>

<div class="w3-row-padding">
  <div class="w3-third">

<h4 style="color:green">
  Welcome To Craft Tech Solution Ltd.
</h4>
<p>
Craft Tech Solution is a web design and digital marketing company in Nairobi. We specialize in designing custom,
responsive websites to enhance your web presence and represent your company effectively online. Our comprehensive
website designing, search engine optimization and social media marketing services are focusing on helping each business
 attain their marketing objectives through a strong web presence that engages their target audience.
</p>
</div>

<div class="w3-third">
<h4 style="color:green">
  Digital Marketing Experts
</h4>

<p>
  Whether we are providing web design, or SEO, our capable team of professionals is committed
   to helping your business succeed. We have developed the most effective strategies for improving customer conversion
    rates, click through rates, and ensuring customer retention. We offer a full suite of services to help every client
     obtain their business goals including web hosting, domain, social media optimization, pay per click, and SEO.
  </p>
</div>

<div class="w3-third">
  <h4 style="color:green">
    Stunning Web Design
  </h4>

  <p>
    Our talented and professional web designers have assisted clients across the world.
     We offer integrated web design or redesign services that will help you put your best face forward.
      Whether you own a website and are seeking an increase in visibility and sales or you need standard SEO or web design
       services for your organization, we can provide the cutting edge services you need.
     </p>
  </div>
</div>

     <h2 style="color:blue" align = "center">WHY CHOOSE US?</h2>

     <div class="w3-row-padding">
       <div class="w3-third">
     <h4 style="color:green">Over 7 Years Experience</h4>
<p>
     Craft Tech Solution brings you the benefit of over 7 years experience.
      We know exactly what is required, and when it needs to be done.
</p>
</div>

<div class="w3-third">
<h4 style="color:green">SEO-friendly Websites</h4>

<p>
  We help you make money because of our professionally designed websites that are search-engine optimised (SEO-friendly).
</p>
</div>

<div class="w3-third">
<h4 style="color:green">Very Competitive Rates</h4>

<p>
  The best part is we deliver high quality work at very highly competitive prices.
   Contact us by filling in the <font style="color:blue"><a href="/contact/">Form here</a></font> and you will find that prices are truly affordable
 </p>
</div>

<div class="w3-third">
 <h4 style="color:green">Latest Website Trends</h4>

 <p>
   We observe the latest market trends and give you the best up-to-date solution.
 </p>
</div>
</div>
 <h2 style="color:blue" align ="center">Technologies We Love & Work With</h2>

 <img src="{% static "images/tech-imgs.png"  %}" alt="My image"  />

<br>
<h2 style="color:blue">What we do Best</h2>

<div class="w3-row-padding">
  <div class="w3-third">
<p>
1. Professional, Affordable web site design and development
</p>
</div>

<div class="w3-third">
<p>
2. Dependable, reliable, fast hosting
</p>
</div>

<div class="w3-third">
<p>
3. E-Commerce web sites
</p>
</div>

<div class="w3-third">
<p>
4. Domain name registration
</p>
</div>

<div class="w3-third">
<p>
5. Content management systems
</p>
</div>

<div class="w3-third">
<p>
6. IT consultancy
</p>
</div>
</div>
 <p>

Thrive online — get best unbeatable interactive experience based on the smart design and innovative technology. Ready to get started?

We’re on a mission to transform websites with low traffic and low conversions that are text-heavy,
 cluttered with an out-dated design, into a beautifully designed, simplistic website with high traffic
  and high conversions.
</p>

<h2 style="color:red" align = "center">Frequent Asked Questions</h2>

<div class="w3-row-padding">
  <div class="w3-third">
<h4 style="color:blue">1. How long does it take to create a website?</h4>
<p>
The time necessary to create a functional website heavily relies on a variety of factors. For instance, custom design work ranges
 from 1-2 week based on the complexity of the design and the revision necessary. On the other hand, the development phase needs
  and addition 1-4 week based on the site’s functionality and the number of web pages. However, these are the general guidelines,
   and we aim to make all the necessary efforts to meet your desired timeframe.
 </p>
</div>

<div class="w3-third">
 <h4 style="color:blue">2. Can I see my website while it’s in progress?</h4>

 <p>
   Yes! Furthermore, we encourage our clients to be part of the process.
    Websites are built on our development server where we provide customers with the username and
     password to allow them to login and monitor the work in progress. During this phase, clients are allowed
      to provide crucial feedback, and changes are made accordingly. After completing the development process and
       receiving the clients’ approval, we release the website onto the clients’ server and submit the URL to the major
        search engines.
      </p>
</div>

<div class="w3-third">
  <h4 style="color:blue">3. What do your websites cost?</h4>

  <p>
    Numerous factors contribute to the website cost that cannot be effectively exhausted using a single sentence.
     To get a better idea of the approximate cost of your website kindly contact us, where we will ask you a few
      questions regarding the nature of your website, for instance, the interactivity you require, the graphic design
       necessary, etc. then will be able to give you a quote.
     </p>
</div>
</div>

<div class="w3-row-padding">
<div class="w3-third">
  <h4 style="color:blue">4. I already have a website. Why isn’t it listed well on Google </h4>

  <p>
    The reason for this is that although many companies effectively create websites, they lack the necessary experience
     to ensure the site ranks well on major search engines such as Google. The key to ranking on major search engines
      requires a company that has experienced Search Engine Optimization. By using a variety of techniques, we can improve
       your business exposure.
 </p>
</div>

<div class="w3-third">
 <h4 style="color:blue">5. What if I need to make changes to my website? </h4>

 <p>
   We can be able to edit your website and carry out the necessary changes that you may require using our available software.
    Furthermore, by installing a content management system, we can maintain your website.
  </p>
</div>
</div>
{% endblock %}

{% block footer %}

  {% include "contactus.html" %}

{% endblock %}
