{% extends "base.html" %}

{% load static %}

{% block title %}

CraftTechSolution - Website Optimazation

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}

{% include "slideshow.html" %}

<div class="w3-row-padding">
  <div class="w3-third">
<h2>Get Higher Website Ranking Service</h2>

<p>
  Search Engine Optimization describes the practice of optimizing the web content located on a website in order to facilitate
   potential customers finding the business and to help rank the business higher in the search engines. When a business is
    ranked higher in the search engines, it appears closer to the first page of listings which makes it even easier to get
     found and produce sales. At Craft Tech Solution Ltd., we are one of the leading providers of SEO services in Nairobi, Kenya, and
      the surrounding areas. Businesses across all industries can expect to receive personalized services and focused SEO
       services to help their companies rank higher in the search engines.
</p>
<p>
At Craft Tech Solution, our search engine optimization can help you to improve your website and attract visitors.
 When your customers find you online through certain keywords that we select, you have a chance to convert them into
  paying customers and to develop a relationship with them for repeat business. We are known for our excellence in the
   field of SEO as well as for our professionalism with each every client. Based in Nairobi, we are able to provide the
    cutting edge search engine optimization solutions you can benefit from.
</p>
</div>

<div class="w3-third">
<h2>
    Our SEO Services Include:
  </h2>

  <p>
    1.Full SEO Campaign Management
  </p>
  <p>
    2.SEO Website Development
  </p>
  <p>
    3.Website Analyses
  </p>
  <p>
    4.Keywords and Strategy Research

& More
</p>
</div>

<div class="w3-third">
<h2>
  Why You Need Our SEO Services
</h2>

<p>
  We ensure your website appear on the first page of search engine. SEO is an unending process and we aim to keep you on the top
   of google by regularly optimizing your website.
 </p>
 <p>
   We know the importance SEO friendly content. Our experts edit the content, images and other relevant business information
    to meet the requirement of search engines.
  </p>
  <p>
    We also do extensive research to find the best key words for you. This is to make sure you are unique in the market.
  </p>
  <p>
    Our services are world class. Majority of our clients see real progress within the first 6 months.  Their business website appear on top
    of search engines and they experience increase in revenues.
  </p>
</div>
</div>
{% endblock %}

{% block footer %}

  {% include "contactus.html" %}

{% endblock %}
