{% extends "base.html" %}

{% load static %}

{% block title %}

CraftTechSolution - Website Optimazation

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}

<img src="{% static "images/smo-banner.png"  %}" alt="My image"  />

<h2  align = "center">Social Media Optimization (SEO)</h2>

<h4 > Lets Build Your Social Media Brand</h4>

<div class="w3-row-padding">
  <div class="w3-third">
<p>
  Interact with your existing and prospective clients on social media. This is the most recent method to spread the word
   about your products and services. We are dedicated to help you:
</p>

<p>
  Update your social media sites with relevant and interactive content
</p>
</div>

<div class="w3-third">
<p>
  Manage social media campaign so that you get enough time to concentrate on your business
</p>

<p>
  Respond to your clients queries and inquiries
</p>
</div>

<div class="w3-third">
<p>
  Make sure the world hear about you
</p>

<p>
  Social Media Optimization (SMO) can help you get same or improved results when compared to SEO in the same time frame.
   SMO helps increase your business website traffic very quickly because Social Media websites like Facebook, Twitter, Instagram,
    Pinterest, LinkedIn and Google+ have very huge traffic.
  </p>
</div>
</div>
  <h1 style="color:red">Overview Of Our Social Media Work</h1>

  <img src="{% static "images/201711130930250242156001510565425.jpg"  %}" alt="My image"  />

{% endblock %}

{% block footer %}

  {% include "contactus.html" %}

{% endblock %}
