{% extends "base.html" %}

{% load static %}

{% block title %}

CraftTechSolution - Best website designing company in kenya

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}

{% include "slideshow.html" %}

<h2 align = "center">Website Design & Development </h2>

<div class="w3-row-padding">
  <div class="w3-third">
<h4 >We Will Make You Look Great Online!</h4>

<p>
  Craft Tech Solution offers premier website design services for small, medium, and large businesses in Nairobi, Kenya, and
   the surrounding areas. From simple and streamlined designs to complex and intricate websites, we can create the perfect
    platform to showcase your business online. Our passion lies in helping business owners establish a presence online or improve
     their existing websites to reach and engage with more customers. Our goal is to use our creative minds and technical know how
      to create a stunning website that is tailored to the needs of your business.
</p>
</div>

<div class="w3-third">
<h4 >Count On Our Website Expertise</h4>

<p>
  As web design experts, we have a solid working knowledge of website designing using a variety of different techniques.
  From Joomla to Wordpress, we offer the customized website development services that will benefit your company.
  We are passionate about websites because they are the primary way for you to be found online so you can share your
   products and services with the world.
 </p>
</div>

<div class="w3-third">
<h4 >Prices are affordable</h4>

<p>
  Craft Tech Solution designs the best and affordable websites.We give previleges to the clients to quote there budget
  by filling in the <font style="color:blue"><a href="/contact/">Form here</a></font>.The more detailed the information we get, the better requirement analysis will be carried out by our specialists.
 </p>
</div>

</div>

<div class="w3-row-padding">
  <div class="w3-third">
 <h2  align = "center">Why We Are Passionate About Website?</h2>

 <p>
   A website enables potential customers to find you through such engine such as Google or learn about you after they’ve seen
    your other online marketing material. A website can also act as an extension of your business card, with details about you,
     your business and services or products offered. A professionally designed website should detail your experience, background
      and other identifications to give you trustworthiness when prospective clients are looking for your services.
 </p>
</div>

<div class="w3-third">
 <h2  align = "center">
   Reasons Website Is Important For Businesses
 </h2>

<p>
1. A website will be more convenient for your customers. It will be easy for your customers to purchase from you since they don’t have
   to walk to your shop.
 </p>

 <p>
2.  A Website can help you generate more customers. With a website, your business will be visible globally.
 </p>

 <p>
3. A website can build better relationships with your customers. They can review your products online and can also leave feedback
    for you and your business.
  </p>

  <p>
4.  A website is available day and night providing your clients the convenience of reviewing your products and services
     when your shop is closed.
   </p>
 </div>

<div class="w3-third">
   <h2 align = "center">
     Who Should Use A Website?
   </h2>

   <p>
     A website is ideal for anyone who is selling goods and services and wants to expand their reach online.
      Whether you have a home based business, a small local business, or you are an Internet entrepreneur, you can benefit
       from having a professional website designed just for you.

When you are ready to work with some of the best web designers in Kenya and Nairobi, look no further than Craft Tech Solution.
 We are dedicated to helping you meet your web design goals by offering superior web design services at cost effective prices.

Contact Craft Tech Solution for more information about our website design services by calling us or sending us an email.
</p>
</div>
</div>


<h2 align = "center">Value Proposition</h2>

<p>All our websites come with great tools to help you run your business efficiently online and maximize your value</p>

<div class="w3-row-padding">
  <div class="w3-third">
<h4>Dynamic Design</h4>
<p>
  All our websites are dynamic and come with the flexibility to add or remove content, make changes and make additions
   to the website in a seamless style making them highly sought after. This will mean more visibility and conversions for
    your business. Both online and offline.
  </p>
</div>

  <div class="w3-third">
  <h4>SEO Ready</h4>
  <p>
    Throughout the design and development process, we build our sites to be SEO Ready so that when you are ready to activate
     Search Engine Optimization, the process is smooth and seamless to integrate and allow your website to perform well in
      organic search
    </p>
  </div>

  <div class="w3-third">
    <h4>Google Analytics</h4>

    <p>
      Harness the power of Google analytics to turn data into insights. We embed google analytics to your site to help you track
       the behavior of your website Visitors. This improves strategic decision making especially for advertising and marketing
        initiatives.
      </p>
</div>

  <div class="w3-third">
      <h4>Social Media Integration</h4>

      <p>We link your website to all your social media platforms allowing you build a sound integrated framework that optimizes
         the reach of your brand. This enhances link building and thus improving the ranking of your website in search results.
       </p>
  </div>

  <div class="w3-third">
       <h4>E-Commerce Ready</h4>

       <p>
         As businesses grow, there is need to sell your products and services to a global audience. We create websites with this in
          mind so that when the business is ready to start selling online, integration with e-commerce platforms is seamless.
        </p>
</div>

  <div class="w3-third">
        <h4>Easy Updates</h4>
      <p>
        Great websites are those that are easy and affordable to make updates and changes. We build all our sites on cms to allow
         you make changes on your end without the need to keep referring back to your web design. This keeps you in control and
          lowers your website maintenance costs.
        </p>
</div>
</div>
{% endblock %}

{% block footer %}

  {% include "contactus.html" %}

{% endblock %}
