{% extends "base.html" %}

{% load static %}

{% block title %}

CraftTechSolution - Website Optimazation

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}

{% include "slideshow.html" %}

<div class="w3-row-padding">
  <div class="w3-third">
<h4>Web Host Services</h4>

<p>
  Craft Tech Solution provides it's clients with cloud web hosting.The Craft Tech Solution platform runs your apps inside
   dynos — smart containers
   which execute on a reliable, fully managed runtime environment.
 </p>
</div>

   <div class="w3-third">
 <h4 >Craft Tech Solution Postgres</h4>

 <p>
   Craft Tech Solution trusted, secure, and scalable Postgres SQL database as a service, optimized for developers. With features
    like continuous protection, rollback and high availability, Craft Tech Solution Postgres ensures your data is safe and always available
     at scale.
</p>
</div>

 <div class="w3-third">
<p>
  Craft Tech Solution Postgres is easy to set up and provides powerful features like forks, followers, and dataclips, so you can
   focus on building the apps that grow your business, not on database management.
 </p>
</div>
</div>

{% endblock %}

{% block footer %}

  {% include "contactus.html" %}

{% endblock %}
